body {
    background-color: rgba(125, 125, 125, 0);

}

h1 {
    color: darkorchid;
    text-align: center;
}

h2 {
    color: darkorchid;
    text-align: center;
}

p {
    color: darkorchid;
    text-align: center;
}